In [523]:
from datetime import datetime
import json
import codecs
from ast import literal_eval
import random

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

### 1. Leer los datos

In [524]:
df_customers = pd.read_json(r'C:\Users\pauri\OneDrive\Escritorio\4) MÁSTER EN DATA SCIENCE, BIG DATA & BUSINESS ANALYTICS (UCM)\MÓDULO 8_MACHINE LEARNING\Clase 1 y 2\1. INTRODUCCIÓN\EJERCICIO 3\customer.json',
                            lines= True,
                            encoding= 'utf-8-sig')
df_customers

,fraudulent,customer,orders,paymentMethods,transactions
0,False,"{'customerEmail': 'josephhoward@yahoo.com', 'c...","[{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...","[{'paymentMethodId': 'wt07xm68b', 'paymentMeth...","[{'transactionId': 'a9lcj51r', 'orderId': 'vjb..."
1,True,"{'customerEmail': 'evansjeffery@yahoo.com', 'c...","[{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...","[{'paymentMethodId': 'y3xp697jx', 'paymentMeth...","[{'transactionId': '5mi94sfw', 'orderId': 'nlg..."
2,False,"{'customerEmail': 'andersonwilliam@yahoo.com',...","[{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...","[{'paymentMethodId': '8pneoi03z', 'paymentMeth...","[{'transactionId': 'q3lyvbza', 'orderId': 'yk3..."
3,False,"{'customerEmail': 'rubenjuarez@yahoo.com', 'cu...","[{'orderId': 'fbz9ep', 'orderAmount': 34, 'ord...","[{'paymentMethodId': 'pdxjdwui4', 'paymentMeth...","[{'transactionId': 'vx4cjc27', 'orderId': 'fbz..."
4,True,"{'customerEmail': 'uchen@malone.com', 'custome...","[{'orderId': '56h7iw', 'orderAmount': 71, 'ord...","[{'paymentMethodId': 'w1i1zq3rg', 'paymentMeth...","[{'transactionId': 'q8j3dgni', 'orderId': '56h..."
...,...,...,...,...,...
163,True,{'customerEmail': 'mitchellvickie@brewer-jones...,"[{'orderId': '6086rd', 'orderAmount': 31, 'ord...","[{'paymentMethodId': 'x644o186l', 'paymentMeth...","[{'transactionId': 'ryxa1mzn', 'orderId': '608..."
164,True,"{'customerEmail': 'sbrown@hughes.biz', 'custom...","[{'orderId': '57yhdo', 'orderAmount': 30, 'ord...","[{'paymentMethodId': 'wsy5c41nf', 'paymentMeth...","[{'transactionId': '293g6767', 'orderId': '57y..."
165,True,"{'customerEmail': 'johnlowery@gmail.com', 'cus...","[{'orderId': 'vcyuse', 'orderAmount': 35, 'ord...","[{'paymentMethodId': 'j3foo2l16', 'paymentMeth...","[{'transactionId': 'qio8vvq7', 'orderId': 'vcy..."
166,True,{'customerEmail': 'ethompson@jackson-sanders.c...,"[{'orderId': '9s9ne9', 'orderAmount': 49, 'ord...","[{'paymentMethodId': 'b3jl38c9g', 'paymentMeth...","[{'transactionId': '1uusmhj9', 'orderId': '9s9..."
167,False,"{'customerEmail': 'dawn05@tucker-brown.com', '...","[{'orderId': 'ow1cih', 'orderAmount': 23, 'ord...","[{'paymentMethodId': 'f0xnu5om9', 'paymentMeth...","[{'transactionId': '6incxb5x', 'orderId': 'ow1..."

### 2. Extraer las columnas de los clientes

In [525]:
df_customers['customer'][0] # Sacamos cualqueira de las variables, la 0, para ver que hay dentro, vemos que hat diccionarios

{'customerEmail': 'josephhoward@yahoo.com',
 'customerPhone': '400-108-5415',
 'customerDevice': 'yyeiaxpltf82440jnb3v',
 'customerIPAddress': '8.129.104.40',
 'customerBillingAddress': '5493 Jones Islands\nBrownside, CA 51896'}

In [526]:
# Extraemos cada uno de los campos de cada uno de los diccionarios y los convertimos a columnas
df_customers['CustomerEmail'] = df_customers['customer'].apply( lambda x:x['customerEmail'])
df_customers['customerPhone'] = df_customers['customer'].apply( lambda x:x['customerPhone'])
df_customers['customerDevice'] = df_customers['customer'].apply( lambda x:x['customerDevice'])
df_customers['customerIPAddress'] = df_customers['customer'].apply( lambda x:x['customerIPAddress'])
df_customers['customerBillingAddress'] = df_customers['customer'].apply( lambda x:x['customerBillingAddress'])
df_customers_1 = df_customers.drop(['customer','paymentMethods','transactions','orders'],axis=1)

In [527]:
df_customers_1

,fraudulent,CustomerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,False,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"
3,False,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM..."
4,True,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,..."
...,...,...,...,...,...,...
163,True,mitchellvickie@brewer-jones.com,313-124-3836x3528,ecu7ezz0ue67v3fce1o3,181.90.104.120,"829 Ramirez Dam Suite 648\nGatesview, OR 55669..."
164,True,sbrown@hughes.biz,(250)632-6631x02499,xgv918sclaz40qlp2fee,16.166.2.0,"9472 Pacheco Islands Suite 940\nDrewburgh, AZ ..."
165,True,johnlowery@gmail.com,635.676.0955x524,969zz9zdj8z4gns4sx5p,f82c:811f:8a02:e2d6:79b:fcaa:42de:570b,"548 Bryant Inlet\nVeronicaside, OK 00522"
166,True,ethompson@jackson-sanders.com,962.300.2250,navessqcnmc9csfjn5cj,203.246.172.244,"16953 Jennifer Springs\nKathybury, IL 02095-3215"
167,False,dawn05@tucker-brown.com,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919"

### 3. Generar los dataframes. "aplanando los diccionarios" y generando columnas nuevas para cada cliente

Dataframe orders

In [528]:
df_orders = df_customers[['CustomerEmail','orders']]

In [529]:
# Otro método para extraer las columnas, pasarlo a diccionario solo como elemento
df_orders= df_orders.explode('orders')

In [530]:
df_orders['orders'][0] # accedemos al primer elemento y vemos que solo hay dos filas, pues es diccioanrio, el indice es incorrecto

0    {'orderId': 'vjbdvd', 'orderAmount': 18, 'orde...
0    {'orderId': 'yp6x27', 'orderAmount': 26, 'orde...
Name: orders, dtype: object

In [531]:
df_orders.reset_index(drop=True,inplace=True)

In [532]:
df_orders['orders'][0] # Indice corregido

{'orderId': 'vjbdvd',
 'orderAmount': 18,
 'orderState': 'pending',
 'orderShippingAddress': '5493 Jones Islands\nBrownside, CA 51896'}

In [533]:
def extract_json(dict_, value):
    try:
        return dict_.get(value)
    except:
        return None

In [534]:
df_orders['orderId'] = df_orders['orders'].apply( lambda x:extract_json(x,'orderId'))
df_orders['orderAmount'] = df_orders['orders'].apply( lambda x:extract_json(x,'orderAmount'))
df_orders['orderState'] = df_orders['orders'].apply( lambda x:extract_json(x,'orderState'))
df_orders['orderShippingAddress'] = df_orders['orders'].apply( lambda x:extract_json(x,'orderShippingAddress'))
df_orders.drop('orders',axis=1,inplace=True)
df_orders

,CustomerEmail,orderId,orderAmount,orderState,orderShippingAddress
0,josephhoward@yahoo.com,vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896"
1,josephhoward@yahoo.com,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896"
2,evansjeffery@yahoo.com,nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497"
3,evansjeffery@yahoo.com,uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
4,evansjeffery@yahoo.com,bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801"
...,...,...,...,...,...
500,dawn05@tucker-brown.com,ow1cih,23.0,fulfilled,"130 Kimberly Junctions\nEricmouth, KS 59756-2919"
501,dawn05@tucker-brown.com,ak5a9n,32.0,fulfilled,"750 Sarah Stream\nAndersonfurt, WI 68970"
502,dawn05@tucker-brown.com,1bubxa,25.0,fulfilled,"130 Kimberly Junctions\nEricmouth, KS 59756-2919"
503,dawn05@tucker-brown.com,p0gdbf,19.0,fulfilled,"130 Kimberly Junctions\nEricmouth, KS 59756-2919"
504,dawn05@tucker-brown.com,5lmvrj,27.0,fulfilled,"539 Branch Shore\nLake Roy, IA 11884"

Dataframe payment methods

In [535]:
df_paymentMethods = df_customers[['CustomerEmail','paymentMethods']]

In [536]:
df_paymentMethods= df_paymentMethods.explode('paymentMethods')

In [537]:
df_paymentMethods.reset_index(drop=True,inplace=True)

In [538]:
df_paymentMethods['paymentMethods'][0]

{'paymentMethodId': 'wt07xm68b',
 'paymentMethodRegistrationFailure': True,
 'paymentMethodType': 'card',
 'paymentMethodProvider': 'JCB 16 digit',
 'paymentMethodIssuer': 'Citizens First Banks'}

In [539]:
df_paymentMethods['paymentMethodId'] = df_paymentMethods['paymentMethods'].apply( lambda x:extract_json(x,'paymentMethodId'))
df_paymentMethods['paymentMethodRegistrationFailure'] = df_paymentMethods['paymentMethods'].apply( lambda x:extract_json(x,'paymentMethodRegistrationFailure'))
df_paymentMethods['paymentMethodType'] = df_paymentMethods['paymentMethods'].apply( lambda x:extract_json(x,'paymentMethodType'))
df_paymentMethods['paymentMethodProvider'] = df_paymentMethods['paymentMethods'].apply( lambda x:extract_json(x,'paymentMethodProvider'))
df_paymentMethods['paymentMethodIssuer'] = df_paymentMethods['paymentMethods'].apply( lambda x:extract_json(x,'paymentMethodIssuer'))
df_paymentMethods.drop('paymentMethods',axis=1,inplace=True)
df_paymentMethods

,CustomerEmail,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,josephhoward@yahoo.com,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks
1,evansjeffery@yahoo.com,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks
2,evansjeffery@yahoo.com,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp
3,evansjeffery@yahoo.com,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.
4,evansjeffery@yahoo.com,m52tx8e1s,False,card,Mastercard,Vertex Bancorp
...,...,...,...,...,...,...
349,ethompson@jackson-sanders.com,1tmkeoxbm,False,card,American Express,Bulwark Trust Corp.
350,dawn05@tucker-brown.com,f0xnu5om9,False,card,JCB 16 digit,His Majesty Bank Corp.
351,dawn05@tucker-brown.com,3zmkegkb8,False,paypal,JCB 15 digit,Bastion Banks
352,dawn05@tucker-brown.com,7yen1m1q8,False,card,VISA 13 digit,Vertex Bancorp
353,dawn05@tucker-brown.com,rh7676yct,True,apple pay,VISA 13 digit,Citizens First Banks

Dataframe transactions

In [540]:
df_transactions = df_customers[['CustomerEmail','transactions']]

In [541]:
df_transactions= df_transactions.explode('transactions')

In [542]:
df_transactions.reset_index(drop=True,inplace=True)
df_transactions['transactions'][0]

{'transactionId': 'a9lcj51r',
 'orderId': 'vjbdvd',
 'paymentMethodId': 'wt07xm68b',
 'transactionAmount': 18,
 'transactionFailed': False}

In [543]:
df_transactions['transactionId'] = df_transactions['transactions'].apply( lambda x:extract_json(x,'transactionId'))
df_transactions['orderId'] = df_transactions['transactions'].apply( lambda x:extract_json(x,'orderId'))
df_transactions['paymentMethodId'] = df_transactions['transactions'].apply( lambda x:extract_json(x,'paymentMethodId'))
df_transactions['transactionAmount'] = df_transactions['transactions'].apply( lambda x:extract_json(x,'transactionAmount'))
df_transactions['transactionFailed'] = df_transactions['transactions'].apply( lambda x:extract_json(x,'transactionFailed'))
df_transactions.drop('transactions',axis=1,inplace=True)
df_transactions

,CustomerEmail,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed
0,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,18.0,False
1,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,26.0,False
2,evansjeffery@yahoo.com,5mi94sfw,nlghpa,41ug157xz,45.0,False
3,evansjeffery@yahoo.com,br8ba1nu,uw0eeb,41ug157xz,23.0,False
4,evansjeffery@yahoo.com,a33145ss,bn44oh,y3xp697jx,43.0,True
...,...,...,...,...,...,...
645,dawn05@tucker-brown.com,7yilsi1o,1bubxa,7yen1m1q8,25.0,True
646,dawn05@tucker-brown.com,wmh52bns,1bubxa,3zmkegkb8,25.0,True
647,dawn05@tucker-brown.com,c82k5bcv,1bubxa,7yen1m1q8,25.0,False
648,dawn05@tucker-brown.com,xdw33hfp,p0gdbf,3zmkegkb8,19.0,False
649,dawn05@tucker-brown.com,wgmajf82,5lmvrj,f0xnu5om9,27.0,False

### 4. Unir los dataframes en un tablón analítico único final

In [544]:
df = pd.merge(df_orders,df_transactions,on=['CustomerEmail','orderId'])
df = pd.merge(df,df_paymentMethods,on=['CustomerEmail','paymentMethodId'])
df = pd.merge(df_customers_1,df,on='CustomerEmail')
df.head()

,fraudulent,CustomerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,transactionId,paymentMethodId,transactionAmount,transactionFailed,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",a9lcj51r,wt07xm68b,18.0,False,True,card,JCB 16 digit,Citizens First Banks
1,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y4wcv03i,wt07xm68b,26.0,False,True,card,JCB 16 digit,Citizens First Banks
2,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",5mi94sfw,41ug157xz,45.0,False,False,bitcoin,American Express,Bastion Banks
3,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,br8ba1nu,41ug157xz,23.0,False,False,bitcoin,American Express,Bastion Banks
4,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",a33145ss,y3xp697jx,43.0,True,True,bitcoin,VISA 16 digit,Solace Banks

In [545]:
df.columns

Index(['fraudulent', 'CustomerEmail', 'customerPhone', 'customerDevice',
       'customerIPAddress', 'customerBillingAddress', 'orderId', 'orderAmount',
       'orderState', 'orderShippingAddress', 'transactionId',
       'paymentMethodId', 'transactionAmount', 'transactionFailed',
       'paymentMethodRegistrationFailure', 'paymentMethodType',
       'paymentMethodProvider', 'paymentMethodIssuer'],
      dtype='object')

### 5. trabajar con el tablón

Obtener los tipos de datos

In [546]:
df.dtypes

fraudulent                             bool
CustomerEmail                        object
customerPhone                        object
customerDevice                       object
customerIPAddress                    object
customerBillingAddress               object
orderId                              object
orderAmount                         float64
orderState                           object
orderShippingAddress                 object
transactionId                        object
paymentMethodId                      object
transactionAmount                   float64
transactionFailed                    object
paymentMethodRegistrationFailure     object
paymentMethodType                    object
paymentMethodProvider                object
paymentMethodIssuer                  object
dtype: object

In [547]:
df.describe(include=['object','float','int']) # Aplicando el include a los tipos de datps mos dará información también de aquellos no numéricos

,CustomerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,transactionId,paymentMethodId,transactionAmount,transactionFailed,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
count,862,862,862,862,862,819,819.000000,819,819,819,819,819.000000,819,819,819,819,819
unique,147,154,154,151,152,478,NaN,3,274,623,237,NaN,2,2,4,10,19
top,johnlowery@gmail.com,044-642-9860,rjb0adai34izqvys4938,212.144.68.190,"484 Pamela Pass\nLake Jessicaview, WI 12942-9074",kr2w5f,NaN,fulfilled,"11704 Andrew Villages Apt. 035\nJamesfurt, OR ...",c5w6btep,opyep1aoj,NaN,False,False,card,JCB 16 digit,Rose Bancshares
freq,256,32,32,32,32,16,NaN,691,40,8,56,NaN,609,737,647,167,129
mean,NaN,NaN,NaN,NaN,NaN,NaN,35.147741,NaN,NaN,NaN,NaN,35.147741,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,19.640072,NaN,NaN,NaN,NaN,19.640072,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,NaN,NaN,NaN,NaN,22.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,34.000000,NaN,NaN,NaN,NaN,34.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,353.000000,NaN,NaN,NaN,NaN,353.000000,NaN,NaN,NaN,NaN,NaN

Sacar el número de nulos y trabajar con ellos.

In [548]:
df.isnull().sum()

fraudulent                           0
CustomerEmail                        0
customerPhone                        0
customerDevice                       0
customerIPAddress                    0
customerBillingAddress               0
orderId                             43
orderAmount                         43
orderState                          43
orderShippingAddress                43
transactionId                       43
paymentMethodId                     43
transactionAmount                   43
transactionFailed                   43
paymentMethodRegistrationFailure    43
paymentMethodType                   43
paymentMethodProvider               43
paymentMethodIssuer                 43
dtype: int64

In [ ]:
df.isnull().sum()/ df.count() *100 # Calculamos porcentaje de nulos sobre el total

fraudulent                          0.000000
CustomerEmail                       0.000000
customerPhone                       0.000000
customerDevice                      0.000000
customerIPAddress                   0.000000
customerBillingAddress              0.000000
orderId                             5.250305
orderAmount                         5.250305
orderState                          5.250305
orderShippingAddress                5.250305
transactionId                       5.250305
paymentMethodId                     5.250305
transactionAmount                   5.250305
transactionFailed                   5.250305
paymentMethodRegistrationFailure    5.250305
paymentMethodType                   5.250305
paymentMethodProvider               5.250305
paymentMethodIssuer                 5.250305
dtype: float64

In [554]:
# Puesto que no tenemos demasiados nullos los eliminaremos 
df = df.dropna()

In [555]:
df.isnull().sum()

fraudulent                          0
CustomerEmail                       0
customerPhone                       0
customerDevice                      0
customerIPAddress                   0
customerBillingAddress              0
orderId                             0
orderAmount                         0
orderState                          0
orderShippingAddress                0
transactionId                       0
paymentMethodId                     0
transactionAmount                   0
transactionFailed                   0
paymentMethodRegistrationFailure    0
paymentMethodType                   0
paymentMethodProvider               0
paymentMethodIssuer                 0
dtype: int64

Seleccionar columnas finales

In [560]:
df.head()

,fraudulent,CustomerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,transactionId,paymentMethodId,transactionAmount,transactionFailed,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",a9lcj51r,wt07xm68b,18.0,False,True,card,JCB 16 digit,Citizens First Banks
1,False,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y4wcv03i,wt07xm68b,26.0,False,True,card,JCB 16 digit,Citizens First Banks
2,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",5mi94sfw,41ug157xz,45.0,False,False,bitcoin,American Express,Bastion Banks
3,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,br8ba1nu,41ug157xz,23.0,False,False,bitcoin,American Express,Bastion Banks
4,True,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",a33145ss,y3xp697jx,43.0,True,True,bitcoin,VISA 16 digit,Solace Banks

In [561]:
print(df.shape)

(819, 18)